/* html,
body {
  margin: 0;
  padding: 0;
} */

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.two-column {
  float: left;
  width: 50%;
}

.leftrow {
  float: left;
  width: 75%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
